@font-face {
  font-family: 'NoRefunds';
  src: url('../fonts/NoRefunds.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100vh;
}
.war {
  background-image: url('../images/sc2-blur.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.for {
  text-shadow: 2px 2px 4px rgba(58, 0, 0, 0.5);
  color: #fcfcfc;
  font-family: 'NoRefunds';
  /* font-size: 96px; */
  font-weight: 400;
  letter-spacing: 8.1px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.logo {
  height: 450px;
}
